<div class="app-right-area">
  <i *ngIf="!response" class="fa fa-calendar fa-5x" aria-hidden="true"></i>

  <div *ngIf="response">
    <p>{{dateWellFrom}} - {{dateWellTo}}</p>
    <table style="border: 1px solid black;">
      <tr>
        <th>Flight</th>
        <th>Carrier</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Time</th>
        <th>Arrivals Time</th>
      </tr>
      <tr *ngFor="let item of tableObjectArray">
          <td>{{item.flightNumber}}</td>
          <td>{{item.flightCarrier}}</td>
          <td>{{item.cityTo}}</td>
          <td>{{item.cityFrom}}</td>
          <td>{{item.timeDeparture}}</td>
          <td>{{item.timeArrival}}</td>
      </tr>
    </table>
  </div>
</div>