<!-- <input type="text" [(ngModel)]="userName"> -->
<app-left-area (arrivalrace)="arrivalrace()"></app-left-area>
<div *ngIf="response">
    <table style="border: 1px solid black;">
        <tr>
          <th>Flight</th>
          <th>Carrier</th>
          <th>From</th>
          <th>To</th>
          <th>Time From</th>
          <th>Time To</th>
        </tr>
        <tr *ngFor="let item of tableObjectArray">
            <td>{{item.flightNumber}}</td>
            <td>{{item.flightCarrier}}</td>
            <td>{{item.cityTo}}</td>
            <td>{{item.cityFrom}}</td>
            <td>{{item.timeArrival}}</td>
            <td>{{item.timeDeparture}}</td>
        </tr>
      </table>
</div> 

